<!-- Hero Section -->


<div class="hero-section">
<div class="container-fluid section-overlay">

<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12 ">
 <h2 class="color-white hero-title  text-center"> MBBS In Bangladesh</h2>


<ul class="breadcrumbstyle">
  <li><a href="#">Home</a></li>
  <li> MBBS In Bangladesh</li>

</ul>




</div>

</div>

</div>
</div>


<!-- End of Hero Section-->

<div class="section mt-5 mb-5">

<div class="container">


<div class="row">

<div class="col-md-8">
<div class="content-post">
<h2 class="color-blue">STUDY MBBS IN BANGLADESH</h2>
<p>
Are you someone who is looking forward to study MBBS in Bangladesh. In India, UGC Medical Course is well known MBBS Program and studying MBBS in Bangladesh is dream of number of students of India as it is considered as one of the best choices to start medical career ahead.
</p>
<p>
For all those students who want to do MBBS from abroad, Bangladesh is considered as one of the best choices, as medical degree is not very hard to gain. Another best part is that the process of admission is very easy as compared to other states.
</p>
<p>
Bangladesh being Neighbour of India, there are many advantages of studying MBBS in Bangladesh which are as follows:
</p>

  <ul class="list-item-point-thumb-right">

<li>        Identical Study Pattern</li>
<li>        Similar Syllabus</li>
<li>        Same Medical Books</li>
<li>        Examination Patterns are quite Similar</li>
<li>        Study the same diseases and procedures to cure them.</li>
</ul>
</div>




<div class="content-post">
<h4 class="title">Why MBBS in Bangladesh? </h4>
 <ul class="list-item-point-thumb-right">
<li>       Bangladesh has top medical colleges in Asia.</li>
<li>       Exams like IELTS & TOEFL are not required.</li>
<li>       Medical Universities charges low MBBS fees in Bangladesh.</li>
<li>       The students can practice medical in Bangladesh, India or any part of the globe after completing medical studies in Bangladesh.</li>
</ul>
</div>



<div class="content-post">
<h2 class="title">Benefits of Doing MBBS from Bangladesh:</h2>
<p>There are major benefits of studying MBBS in Bangladesh which are as follows:</p>

<ul class="list-item-point-thumb-right">
<li>Socio- Cultural same as India.</li>
<li>        Less finance cost to complete MBBS course in Private Medical college and free seats under SAARC Quota in Government Medical College.</li>
<li>        NMC Approved medical studies outside India under IMA Act 1956.</li>
<li>        Enhancing student skills they are given practical and experiments.</li>
<li>        Students studying in Bangladesh get the opportunity to complete their internship program and then they can work in multinational companies and hospitals.</li>

</ul>
</div>


<div class="content-post">


<h2 class="title">Quality of MBBS in Bangladesh</h2>



<p>The medical universities in Bangladesh are well known by Medical Council of India, Accreditation Council for Graduate Medical Education, UNESCO and World Health Organization. By studying MBBS in Bangladesh, students get the best knowledge as quality of education in Bangladesh is very good and further, they provide high quality of accommodation facilities at affordable rates.
</p>
</div>



<div class="content-post">
<h4 class="title">Courses Offered by Bangladesh Medical Colleges:</h4>

<p>Bangladesh is known to be South Asian Country which is famous for its green environment. The climatic conditions are warm and replete with Humidity and has same environment like India. Some of the courses offered by Bangladesh Medical Colleges are as follows:
</p>
<ul class="list-item-point-thumb-right">
<li>       Pediatrics </li>
<li>       Dentistry </li>
<li>       Pharmaceuticals </li>
<li>       Nursing </li>
<li>       General Medicine. </li>

</ul>
</div>



<div class="content-post">

<h2 class="title">Procedure of Admission & Documents Required:</h2>
<p>For pursuing MBBS from Bangladesh, you must qualify for NEET which is National Eligibility Entrance Exam. There are certain kind of documents required for taking admission to Medical Colleges in Bangladesh which are as follows:</p>
<ul class="list-item-point-thumb-right">
  Passport with Minimum 18 months validity
<li>      Class 10th and 12th passing Certificate & Mark Sheet</li>
<li>      Birth Certificate </li>
<li>      Passport Size Photos </li>
<li>      Official Invitation Letter from Medical University of Bangladesh </li>
<li>      Legalization of all documents from Embassy of Bangladesh</li>
<li>      Bank Reciept of University 1st Year Tuition Fee</li>
<li>      Visa Fees.</li>

</ul>
</div>


<div class="content-post">
<h2 class="title">Top MBBS College in Bangladesh:</h2>
<table class="table table-primary table-striped responsive">
<tr>
<td>
University Name
</td>
<td>
Country Ranking
</td>
<td>
World Ranking
</td>
</tr>
<tr>
<td>University of Dhaka</td>
<td>2</td>
<td>2736</td>
</tr>

<tr>
<td>Rajshahi University</td>
<td>6</td>
<td>3517</td>

</tr>
<tr>
<td>University of Chittagong</td>
<td>15</td>
<td>5983</td>
</tr>
<tr>
<td>Shahjalal University of Science & Technology</td>
<td>10</td>
<td>5085</td>
</tr>
<tr>

<td>Bangladesh University of Professionals</td>
<td>26</td>
<td>7833</td>
</tr>

</table>

</div>

<div class="content-post">
<h2 class="color-blue">MBBS In Bangladesh Syllabus</h2>

<table  class="table table-primary table-striped responsive">

<tr>
<td>Phase</td>
<td>Duration</td>
<td>Subjects</td>
</tr>
<tr>
<td>1st Phase</td>
<td>1 and Half Year</td>
<td>Anatomy, Physiology, Biochemistry.</td>
</tr>

<tr>
<td>2nd Phase</td>
<td>1st Year</td>
<td>Community Medicine, Forensic Medicine,Pharmacology & Therapeutics,Therapeutics,
Pathology, Microbiology</td>
</tr>

<tr>
<td>3rd Phase</td>
<td>1 Year</td>
<td>
Medicine & Allied Subjects,
</td>
</tr>

<tr>
<td>3rd Phase</td>
<td>1 and half year</td>
<td>Obstetrics and Gynaecology</td>
</tr>

</table>
</div>

<div class="content-post">
<h2 class="title">Conclusion.</h2>
<p>
Bangladesh Medical University offers much more experience and knowledge to the students as compared to the universities of India. It is dream of a number of students to study abroad and settle in their Career. With the best medical facilities, standard infrastructure and very good hostel facilities we are the best for MBBS education. You can pay the fees in installments as well. So why wait, Join Us Now!

</p>


</div>



<div class="content-post">
<h2 class="color-blue">FAQ</h2>

<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      1- What is quality of studying MBBS in Bangladesh?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong>The medical universities in Bangladesh are well known by Medical Council of India, Accreditation Council for Graduate Medical Education, UNESCO and World Health Organization. By studying MBBS in Bangladesh, students get the best knowledge as quality of education in Bangladesh is very good and further, they provide high quality of accommodation facilities at affordable rates.

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       2- Is MBBS Degree from Bangladesh valid in India?

      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong>Yes, it is valid in the as the degree is provided from the university which is recognized by the National Medical Commission.

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
   3-How to get admission in Bangladesh for MBBS Program?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> If you want to take admission to MBBS in Bangladesh, you must know which is the best college and NMC approved. You can further get experienced counsellors which will help you to go through hassle- free and easy admission process to any kind of NMC colleges.

      </div>
    </div>
  </div>


   <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
   4-What is the cost of studying MBBS in Bangladesh?

      </button>
    </h2>
    <div id="headingFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> The total cost of studying MBBS in Bangladesh for a 5-year course can sum up between $33000- $50000 which includes hostel fess. If any student fits in the criteria of SAARC Admission Quota, then he or she can complete the course by just paying for living costs, no tuition fees need to be paid.

      </div>
    </div>
  </div>



</div>


</div>



</div>
</div>

<div class="col-md-4">

<div class="contact-us shadow-lg p-3 mb-3 bg-body  rounded">
<h4 class="color-blue">Send Your Information</h4>
<hr>
<div class="form-group">

<input type="text" class="form-control" placeholder="Enter Your name here">

</div>

<div class="form-group">

<input type="text" class="form-control" placeholder="Enter Your Mobile ">

</div>

<div class="form-group">

<input type="email" class="form-control" placeholder="Enter Your Email Id">

</div>


<div class="form-group">

<select class="form-control" >
<option>Select Course You are iterested</option>
<option>MBBS</option>
<option>MDMS</option>
</select>

</div>

<div class="form-group">

<textarea class="form-control" rows="5" placeholder="Write Your Message"></textarea>

</div>



<button class="btn btn-primary m-3">Submit</button>

</div>


<div class="latest-post shadow-lg p-3 mb-3 bg-body rounded ">


<h4 class="color-blue">Latest Post </h4>
<ul class="latest-post">
<li>
<a href="" class="">
<div class="post mb-2" style="display:flex;">
<div class="image-box">
<img src="assets/blog/blog-post.jpg" class="img-fluid rounded post-image-style" >

</div>
<div class="content-box p-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>

</div>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


</ul>

<a href="blog.html" class="btn btn-primary m-3"> View All</a>
</div>









</div>

</div>


</div>
</div>


