@model BanoDoctor.Admin.UI.Domains.BlogDetails
<script src="~/ckeditor/ckeditor.js"></script>

<section class="main utility noRequired">
    <nav>
        <div class="top-nav">
            <div class="top-left">
                <ul>
                    <li class="new">Create Blog </li>
                </ul>
            </div>

            <a data-ref="10" class="btn btn-default addBtnTop"asp-action="GetBlogDetails" asp-controller="Blog">Blog Details</a>

        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-block marB10">
                <div class="" id="divUserSearch">
                    <div class="inner-body noButton">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="search-fieldset toggleFields border0" id="dvSearch">

                                </div>
                            </div>

                            <div class="col-xs-12" id="divUserList">
                                <form asp-controller="Blog" enctype="multipart/form-data"  data-ajax-success="commanAjax.AjaxSuccess" data-ajax-begin="commanAjax.Fn_AjaxBegin('divUserList')"
          data-ajax-complete="commanAjax.Fn_AjaxComplete('divUserList')" asp-action="CreateBlog" method="post" data-ajax="true" data-ajax-method="post" >
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-xs-3 form-group">
                                                <input type="hidden" asp-for="Id" />
                                                <label class="control-label"><em>* </em>User Name</label>
                                                <input asp-for="CreatedBy" class="form-control" autocomplete="off" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Heading</label>
                                                <input asp-for="Heading" class="form-control" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Meta Title</label>
                                                <input asp-for="MetaTitle" class="form-control" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Meta Description</label>
                                                <input asp-for="MetaDescription" class="form-control" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Meta Keywords</label>
                                                <input asp-for="MetaKeywords" class="form-control" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Meta Link</label>
                                                <input asp-for="MetaLink" class="form-control" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Image Alt Tag</label>
                                                <input asp-for="ImageAltTage" class="form-control" />
                                            </div>
                                            <div class="col-xs-3 form-group">
                                                <label class="control-label"><em>* </em>Image Path</label>
                                                <input type="file" asp-for="UploadImage" class="form-control" />
                                            </div>
                                            <div class="col-xs-12 form-group">
                                                <label class="control-label"><em>* </em>Blog Details</label>
                                                <textarea asp-for="BlogDescription" class="form-control ckeditor"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <input class="btn btn-default"  type="submit"/>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        CKEDITOR.replace('#BlogDescription');
    });
</script>