<!-- Hero Section -->


<div class="hero-section">
<div class="container-fluid section-overlay">

<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12 ">
 <h2 class="color-white hero-title  text-center"> CPS/ FCPS Admission</h2>


<ul class="breadcrumbstyle">
  <li><a href="#">Home</a></li>
  <li> CPS/ FCPS Admission</li>

</ul>




</div>

</div>

</div>
</div>


<!-- End of Hero Section-->

<div class="section mt-5 mb-5">

<div class="container">


<div class="row">

<div class="col-md-8">
<div class="content-post">
<h2 class="color-blue">CPS/FCPS Admission</h2>
<p>Hello doctor did not get seat in MD /MS in India ?</p>
<p>Be part of India’s most prestigious medical institution, CPS( College of Physician and Surgeon Mumbai ). Call to bano doctor to Get admissions in CPS/fcps Course and further specialize in medical branches after MBBS. As seat of MD/Ms course is very less And budget is too high for Low Scoring Candidate ,most Of Doctor Choose Pursue Cps/ Fcps course. So Take the Leap to Become a Physician /Surgeon with CPS Admission call us(+91 7880109834) to Secure Your Seat Now!</p>
</div>

<div class="content-post">
<h4 class="title">What is CPS/ FCPS?</h4>
<p>CPS stands for College of Physicians and Surgeons of Mumbai, which allow  diploma & Fellowship course in post-graduation in medical education. This course was established in 1913, and is one of the autonomous educational bodies in India. They offer 39 diplomas, 10 fellowships and 2 certificate courses, which are all recognised by the Ministry of Health Science and Family Welfare.</p>
</div>

<div class="content-post">
<p>The course duration for the diploma is two years, and the focus of the course is to specialize in medical branches after MBBS. The course is 90% practical and 10% theory. It is an invaluable opportunity to gain knowledge and experience in your field of interest.</p>
</div>



<div class="content-post">
<h2 class="title">Qucik Overview</h2>
<table  class="table table-primary table-striped responsive">
<tbody>
<tr>
<td>Name Of The Course</td>
<td>Cps</td>
</tr>
<tr>
<td>Duration	</td>
<td>2Year</td>
</tr>
<tr>
<td>Average Fee structure	</td>
<td>8Lakh</td>
</tr>
<tr>
<td>Basic Eligibility	</td>
<td>NEET PG Eligible</td>
</tr>
<tr>
<td>Intake Time 	</td>
<td>Feb-March</td>
</tr>
<tr>
<td>Recognize in State	</td>
<td>MH|MP|Gujrat|Rajasthan</td>
</tr>
<tr>
<td>Most Demanding Branch	</td>
<td>DGO|DCH|DPAT</td>
</tr>
<tr>
<td>Exam to Get Enter 	</td>
<td>NEET PG</td>
</tr>
<tr>
<td>Official website:	</td>
<td>https://www.cpsmumbai.org</td>
</tr>
</tbody>
</table>
<table  class="table table-primary table-striped responsive">
<tbody>

<tr>
<td>Name Of The Course </td><td>	FCPS</td>
</tr>
<tr>
<td>Duration	</td><td>3Year
</td>
</tr>
<tr>
<td>Avrage Fee structure	</td><td>21Lakh
</td>
</tr>
<tr>
<td>Basic Eligibility	</td><td>NEET PG Eligible</td>
</tr>
<tr>
<td>Intake Time 	</td><td>Feb-March</td>
</tr>
<tr>
<td>Recognize in State	</td><td>MH|MP|Gujrat|Rajasthan</td>
</tr>
<tr>
<td>Most Demanding Branch	</td><td>Medicine |Surgery </td>
</tr>
<tr>
<td>Exam to Get Enter 	</td><td>NEET PG</td>
</tr>
<tr>
<td>Official website:	</td><td>https://www.cpsmumbai.org</td>
</tr>
</tbody>
</table>

</div>


<div class="content-post">

<div class="row">
<div class="col-md-6">
<h2 class="title">Branch To Study CPS Course In India</h2>



<table class="table table-primary table-striped responsive">

<tr>
<td>DOMS	</td><td>Diploma in Ophthalmic Medicine and Surgery<td>
</tr>
<tr>
<td>DGO	</td><td>Diploma in Gynecology and Obstetrics<td>
</tr>
<tr>
<td>DCH	</td><td>Diploma in Child Health<td>
</tr>
<tr>
<td>DPB	</td><td>Diploma in Pathology and Bacteriology<td>
</tr>
<tr>
<td>DDV	</td><td>Diploma in Dermatology and Venereology<td>
</tr>
<tr>
<td>DA	</td><td>Diploma in Anaesthesia<td>
</tr>
<tr>
<td>DORL	</td><td>Diploma in Oto-Rhino-Laryngology (E.N.T.)<td>
</tr>
<tr>
<td>DORTHO	</td><td>Diploma in Orthopaedics<td>
</tr>
<tr>
<td>DPM	</td><td>Diploma in Psychological Medicine(Part I & II)<td>
</tr>
<tr>
<td>DMRE	</td><td>Diploma in Medical Radiology & Electrology(Part I & II)<td>
</tr>
<tr>
<td>TDD	</td><td>Diploma in Tuberculosis Diseases<td>
</tr>
<tr>
<td>DFP	</td><td>Diploma in Family Planning<td>
</tr>
<tr>
<td>DPH	</td><td>Diploma in Public Health<td>
</tr>
<tr>
<td>DTM	</td><td>Diploma in Transfusion Medicine<td>
</tr>
<tr>
<td>DTMH	</td><td>Diploma in Tropical Medicine & Health<td>
</tr>
<tr>
<td>DGS	</td><td>Diploma in General Surgery<td>
</tr>
</table>
</div>
<div class="col-md-6">
<h2 class="title"> Branch To Study FCPS Course In India  </h2>
<table class="table table-primary table-striped responsive">
<tr>
<td>FCPS (MED)</td><td>	FCPS-Medicine<td>
</tr>
<tr>
<td>FCPS (SURG)</td><td>	FCPS-Surgery<td>
</tr>
<tr>
<td>FCPS (MID-GYN)</td><td>	FCPS-Midwifery & Gynaecology (Mid. & Gyn.)<td>
</tr>
<tr>
<td>FCPS (OPTHL)</td><td>	FCPS-Ophthalmology<td>
</tr>
<tr>
<td>FCPS (CH)</td><td>	FCPS-Child Health<td>
</tr>
<tr>
<td>FCPS (DERMT)</td><td>	FCPS-Dermatology and Venereology<td>
</tr>
<tr>
<td>FCPS (ORL)</td><td>	FCPS-Oto-Rhino-Laryngology<td>
</tr>
<tr>
<td>FCPS (ORTHO)</td><td>	FCPS-Orthopaedics<td>
</tr>
<tr>
<td>FCPS (ANAES)</td><td>	FCPS-Anaesthesiology<td>
</tr>
<tr>
<td>FCPS (PATHO)</td><td>	FCPS-Pathology<td>
</tr>
</table>
</div>

</div>

</div>

<div class="content-post">
<h4 class="title">As per Cps Mumbai website Recognization Of Cps/Fcps Course</h4>

<ul class="list-item-point-thumb-right">

<li>CPS Fellowships & Diploma Courses are notified by Government of Maharashtra vide notification no. MMC/1096/111/96/Act and vide GR Extraordinary 4-B through notification no. PGM.1010/CR-18 (Part 2)/10/EDU-2 and in the Maharashtra Medical Council Act 1965.</li>
<li>Government of Gujarat has recognized all the Fellowships and Diplomas of CPS to strengthen the infrastructure of the medical fraternity in the state of Gujarat vide Gujarat Government Gazette no. GP-17-MCG-102011-2213-J dated 14th October 2011 notified by Health & Family Welfare Department, Government of Gujarat under the Gujarat Acts.</li>
<li>CPS courses are recognized in State of Rajasthan,</li>
<li>UnionTerritory of Dadra and Nagar Haveli.</li>
<li>CPS is registereble since its existence in:
<ul>
<li>i. West Bengal Med Council vide Bengal Medical Act 1914.</li>
<li>ii. Tamil Nadu Med. Council vide TN Medical Act 1914 </li>
<li>iii. Punjab Med. Council vide Punjab Med. Reg. Act 1916 </li>
<li>iv. Orissa Med. Council vide Orissa Medical Registration Act 1961
     CPS is Recognized by Govt. of Malaysia at par with other university.</li>

</ul>

 </li>


</ul>
</div>


<div class="content-post">

<h2 class="title">Documents Required For Get Admission In Cps /Fcps Course 2023-24</h2>
<ul class="list-item-point-thumb-right">
<li>Original Post holding certificate.</li>
<li>Original Appointment order.</li>
<li>Original and two sets of self-attested photocopies of following documents.</li>
<li>MBBS or equivalent qualification passing certificate, (recognized by MCI)</li>
<li>Internship completion certificate (University and College),</li>
<li>Permanent registration certificate of MMC / State Medical Council where the candidate has joined.</li>
<li>Any other certificate to prove the eligibility such as result of screening test for foreign graduates etc.</li>
<li>Identity proof viz. State Medical Council ID card / Passport / Adhaar card / Election ID card.</li>
<li>For Category candidates
<ul>
<li>a)  Caste certificate, if applicable.</li>
<li>b)  Validity certificate, by appropriate authority.</li>
<li>c)  Valid Non creamy layer certificate, if applicable.</li>
<li>Receipt of the enrollment fees / DD of enrollment fee, if not paid.</li>

</ul>
</li>
</ul>
</div>


<div class="content-post">
<h2 class="title">Role Of Bano Doctor Education Consultant In Your CPS/Fcps Admission.</h2>
<ul class="list-item-point-thumb-right">
<li>To Make You Aware About All Admission Process.</li>
<li>Help In Documentation</li>
<li>Pre And Post Admission Assistance</li>
<li>Seat Matrix Analysis</li>
<li>Time To Time Update About Counselling Process through Whats App & Telegram Channel .</li>
<li>Maximize your Chance To Get Desired Branch</li>
<li>Choice Filling And Locking According To Previous Year Analysis .</li>
<li>Negotiations in Management/Institute quota Seat To Avail Best Package .</li>
<li>Fair & Hassle free Counselling Process.</li>
<li>Education Loan Assistance If Required</li>
<li>Scholarship Assistance</li>
</ul>
</div>

<div class="content-post">
<h2 class="color-blue">Fee Structure Of Cps Fcps Course 2022-23</h2>



</div>

<div class="content-post">
<h2 class="color-blue">FAQ</h2>

<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      1- What is the duration of the diploma course?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> The duration of the diploma course is two years.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       2- What is the focus of the course?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong>The focus of the course is to specialize in medical branches after MBBS that having 90% practical
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
   3-Is Cps /Fcps Internationally Recognize ?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> Yes! In Malaysia it is Recognize
      </div>
    </div>
  </div>


   <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
   4- is There Any Management Quota Seat In Cps/Fcps ?
      </button>
    </h2>
    <div id="headingFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> Yes ! Cps/ Fcps Has Management Quota Seat .
      </div>
    </div>
  </div>


     <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
   5-Is Cps Recognize In All Over India ?
      </button>
    </h2>
    <div id="headingFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> No every State And UT Not Recogznise but Maharastra /Gujrat/ Rajasthan /Mp /Odisha recognize cps /Fcps Curse .
    </div>
  </div>




</div>


</div>



</div>
</div>

<div class="col-md-4">

<div class="contact-us shadow-lg p-3 mb-3 bg-body  rounded">
<h4 class="color-blue">Send Your Information</h4>
<hr>
<div class="form-group">

<input type="text" class="form-control" placeholder="Enter Your name here">

</div>

<div class="form-group">

<input type="text" class="form-control" placeholder="Enter Your Mobile ">

</div>

<div class="form-group">

<input type="email" class="form-control" placeholder="Enter Your Email Id">

</div>


<div class="form-group">

<select class="form-control" >
<option>Select Course You are iterested</option>
<option>MBBS</option>
<option>MDMS</option>
</select>

</div>

<div class="form-group">

<textarea class="form-control" rows="5" placeholder="Write Your Message"></textarea>

</div>



<button class="btn btn-primary m-3">Submit</button>

</div>


<div class="latest-post shadow-lg p-3 mb-3 bg-body rounded ">


<h4 class="color-blue">Latest Post </h4>
<ul class="latest-post">
<li>
<a href="" class="">
<div class="post mb-2" style="display:flex;">
<div class="image-box">
<img src="assets/blog/blog-post.jpg" class="img-fluid rounded post-image-style" >

</div>
<div class="content-box p-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>

</div>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


</ul>

<a href="blog.html" class="btn btn-primary m-3"> View All</a>
</div>









</div>

</div>


</div>
</div>


