<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Bano Doctor </title>
    <link rel="icon" type="image/x-icon" href="assets/image/logo.png">

     <link href="~assets/dist/css/bootstrap.min.css" rel="stylesheet">
     <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link  href="~assets/dist/css/style.css" rel="stylesheet">
   <script src="~assets/dist/js/jquery-2.2.0.min.js" type="text/javascript"></script>
   <script src="~assets/dist/js/slick.js"></script>
     <link  href="~assets/dist/css/megamenu.css" rel="stylesheet">

    </head>
    <body>


<div class="header">
<div class="top-header">
<div class="container-fluid ">
<div class="row">

<div class="col-sm-12 col-md-4 col-lg-4">
<i class="fas fa-phone"></i> +91-7880109834
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
<i class="fas fa-envelope"></i> info@banodoctor.com
</div>




<div class="col-sm-12 col-md-4 col-lg-4">
<div class="social-media-links">
             <!-- Facebook -->
      <a

        href="https://www.facebook.com/banodoctorofficials"
        role="button"
        ><i class="fa-brands fa-facebook"></i></a>

      <!-- Twitter -->
      <a

        href="https://twitter.com/banodoctors"
        role="button"
        ><i class="fa-brands fa-twitter"></i
      ></a>

      <!-- Google -->
      <a

        href="https://g.co/kgs/PbJxcK"
        role="button"
        ><i class="fa-brands fa-google"></i
      ></a>


  <!-- Youtube -->
      <a

        href=" https://www.youtube.com/channel/UCyygkB2BZNCx3l3YHaKxMwQ"
        role="button"
        ><i class="fa-brands fa-youtube"></i>
      </a>



      <!-- Instagram -->
      <a

        href="https://www.instagram.com/banodoctors/"
        role="button"
        ><i class="fa-brands fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a

        href="https://www.linkedin.com/in/bano-doctor-47639a264/"
        role="button"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>



 <!-- tumblr -->
      <a

        href="https://www.linkedin.com/in/bano-doctor-47639a264/"
        role="button"
        ><i class="fa-brands fa-tumblr"></i>

        </a>


                   </div>
               </div>

          </div>
    </div>
</div>

</div>

</div>

</div>


<div class="logo">
        <img src="assets/image/logo.png">
 </div>

<nav class = "navbar">




        <div class = "brand-and-icon">

          <button type = "button" class = "navbar-toggler">
            <i class = "fas fa-bars"></i>
          </button>
        </div>


        <div class = "navbar-collapse">
          <ul class = "navbar-nav">
            <li class="dropdown-item">
              <a href = "#">home</a>
            </li>

             <li class="dropdown-item">
              <a href = "#">About Us</a>
            </li>
            <li class="dropdown-item">
              <a href = "#">Services</a>
            </li>
            <li class="dropdown-item">
              <a href = "#" class = "menu-link">
                Study Medical Courses

              </a>
              <div class = "sub-menu">
                <!-- item -->
                <div class = "sub-menu-item">
                  <h4>Study UG Medical In India </h4>
                  <ul>
                    <li><a href = "#"> Study BAMS In India</a></li>
                      <li><a href = "#"> Study BDS In India </a></li>
                   <li><a href = "#">Study  BVSC In India</a></li>
<li><a href = "#">Study BUMS In India </a></li>
<li><a href = "#">Study BHMS In India </a></li>
<li><a href = "#">Study BPT In India </a></li>
<li><a href = "#">Study Nursing In India </a></li>

                  </ul>



                </div>
                <!-- end of item -->
                <!-- item -->
                <div class = "sub-menu-item">
                  <h4>Study PG Medical In India </h4>
                  <ul>
                     <li><a href = "#">MD/MS in India </a></li>
                                 <li><a href = "#">  DNB In India  </a></li>
                                   <li><a href = "#"> FCPS/CPS Admission  </a></li>
                                  <li><a href = "#"> Study Homeopathy PG  </a></li>
                                  <li><a href = "#"> Study Yunani PG  </a></li>
                                  <li><a href = "#"> Study MDS In India  </a></li>
                  </ul>
                </div>
                <!-- end of item -->

                <!-- item -->
            <div class = "sub-menu-item">
               <h4>Study Nursing In India </h4>
               <ul>
                <li><a href = "#">  BSC Nursing</a></li>

                                     <li><a href = "#">ANM </a></li>
                                    <li><a href = "#"> GNM</a></li>
                </ul>
                </div>

                <!-- end of item -->
              </div>
            </li>


            <li class="dropdown-item">
              <a href = "#">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>

 </div>

    @RenderBody()

<!-- Footer -->
<footer class="text-lg-start text-muted footer-section">

  <!-- Section: Links  -->
  <section>
    <div class="container">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <!-- Content -->

          <h6 class="color-green text-center">

            <img src="assets/image/logo.png" > Bano Doctor </h6>


<div>

    <div class="contact-address-info mb-3">

          <div class="icon-box">
          <i class="fas fa-home" aria-hidden="true"></i>
          </div>

          <div class="info-box">
          Office no 310 (Golden chember of comerce) Veera Desai Industrial Estate, Andheri West, Mumbai, Maharashtra 400102</p>
          </div>

    </div>


    <div class="contact-address-info mb-3">

          <div class="icon-box">
           <i class="fas fa-envelope" aria-hidden="true"></i>
           </div>

           <div class="info-box">
            info@banodoctor.com
            </div>

    </div>

    <div class="contact-address-info mb-3">


         <div class="icon-box">
         <i class="fas fa-phone" aria-hidden="true"></i>
         </div>

         <div class="info-box">
          +91-7880109834
         </div>

    </div>




    </div>

     <div class="social-media-links">



             <!-- Facebook -->
      <a

        href="https://www.facebook.com/banodoctorofficials"
        role="button"
        ><i class="fa-brands fa-facebook"></i></a>

      <!-- Twitter -->
      <a

        href="https://twitter.com/banodoctors"
        role="button"
        ><i class="fa-brands fa-twitter"></i
      ></a>

      <!-- Google -->
      <a

        href="https://g.co/kgs/PbJxcK"
        role="button"
        ><i class="fa-brands fa-google"></i
      ></a>


  <!-- Youtube -->
      <a

        href=" https://www.youtube.com/channel/UCyygkB2BZNCx3l3YHaKxMwQ"
        role="button"
        ><i class="fa-brands fa-youtube"></i>
      </a>



      <!-- Instagram -->
      <a

        href="https://www.instagram.com/banodoctors/"
        role="button"
        ><i class="fa-brands fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a

        href="https://www.linkedin.com/in/bano-doctor-47639a264/"
        role="button"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>



 <!-- tumblr -->
      <a

        href="https://www.linkedin.com/in/bano-doctor-47639a264/"
        role="button"
        ><i class="fa-brands fa-tumblr"></i>

        </a>




          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="color-blue">
            Our Courses
          </h5>

         <ul class="footer-nav">
          <li>
            <a href="#!" >Mbbs</a>
          </li>
          <li>
            <a href="#!" >MDMS</a>
          </li>
          <li>
            <a href="#!" >Ayurveda</a>
          </li>
          <li>
            <a href="#!" >BAMS</a>
          </li>
          </ul>


        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="color-blue">
            Latest Blog Post
          </h5>
          <ul class="footer-nav">
          <li>
            <a href="#!" >Latest News</a>
          </li>
          <li>
            <a href="#!" >Blog Post</a>
          </li>
          <li>
            <a href="#!" >Our Services</a>
          </li>
          <li>
            <a href="#!" >Contact Us</a>
          </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <h5 class="color-blue">Important Links</h5>
          <!-- Links -->

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>


  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center p-4 copyright-bottom">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="">All Rights Reserved</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->




    <script src="assets/dist/js/clientslider.js"></script>
    <script src="assets/dist/js/megamenuscript.js"></script>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
            integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
            crossorigin="anonymous"></script>

    <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>

     <!-- Custom Script for client Slider-->
     <script src="~/assets/dist/js/clientslider.js"></script>


     <!-- Custom Script for Megamenu-->

      <script src="~/assets/dist/js/megamenuscript.js"></script>


     <!-- Custom Scripts-->
    <script src="~/js/Custom.js" async></script>

    <link href="~/AlertifyJs/build/css/alertify.css" rel="stylesheet" />
    <script src="~/AlertifyJs/build/alertify.js"></script>


</body>

</html>
