<div class="modal fade" id="BanoDoctorCommanModalPopUp" role="dialog" data-active="0" style="display: none;">
    <div class="modal-dialog lg" id="modalSize">
        <div class="modal-content" id="divPartialData">
        </div>
    </div>

</div>
