


<div class="section mt-5 mb-5">

<div class="container">

<div class="row">


<div class="col-md-8">

<h2 class="color-blue">MD/MS In India</h2>

<p>MD /MS Admission to Medical College in India is a challenging task. You are likely to face several problems with the procedures and selection process. The reason behind it is that there are only a few seats available every year in all medical colleges in India. The medical admission process is quite difficult, complicated, and time-consuming as compared to other courses of study. </p>
<p>In the year 2023 session there are 519 medical colleges having 45279 MD/MS and diploma post-graduate seats. and near about 2lakh pg medical aspirent are in race to get the seat.</p>


<h3 class="title">Branch To study MD MS Courses </h3>

<h4>MD/MS Specialization</h4>

<div>

<div class="row">
<div class="col-md-4 mb-2">
<div class="md-courses">Aerospace Medicine</div>
<div class="ms-courses">ENT</div>
</div>
<div class="col-md-4 mb-2"><div class="md-courses">Anatomy</div>
    <div class="ms-courses">General Surgery</div>
</div>
<div class="col-md-4 mb-2">
<div class="md-courses">Anesthesiology</div>
<div class="ms-courses">Obstetrics & Gynaecology</div>
</div>

<div class="col-md-4 mb-2">
<div class="md-courses">Biochemistry</div>
<div class="ms-courses">Ophthalmology</div>
</div>
<div class="col-md-4 mb-2">
<div class="md-courses">Biophysics</div>
<div class="ms-courses">Orthopedics</div>
</div>
<div class="col-md-4 mb-2">
<div class="md-courses">Community medicine</div>
<div class="ms-courses">	Otorhinolaryngology</div>
</div>
<div class="col-md-4 mb-2">
<div class="md-courses">Dermatology, Venereology & Leprosy </div>

    <div class="ms-courses">Traumatology & Surgery</div>
</div>
<div class="col-md-4 mb-2">
<div class="md-courses">Emergency Medicine</div>
</div>
<div class="col-md-4 mb-2">
<div class="md-courses">Family Medicine</div>
</div>

<div class="col-md-4 mb-2">
<div class="md-courses">Forensic Medicine</div>
</div>

<div class="col-md-4 mb-2"><div class="md-courses">General Medicine</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Geriatrics</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Health Administration</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Hospital Administration</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Immunohematology and Blood transfusion</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Infectious Diseases</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Marine Medicine</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Medical Genetics</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Microbiology</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Nuclear medicine</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Pediatrics</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Palliative Medicine</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Pathology</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Pharmacology</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Psychiatry</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Physical Medicine & Rehabilitation</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Physiology</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Pulmonary medicine</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Radiodiagnosis</div> </div>
<div class="col-md-4 mb-2"><div class="md-courses">Radiotherapy</div> </div>
<div class="col-md-4 mb-2">
<div class="md-courses">Respiratory Medicine</div>
 </div>
<div class="col-md-4 mb-2">
<div class="md-courses">Sports Medicine</div>
 </div>
<div class="col-md-4 mb-2"><div class="md-courses">Tropical Medicine</div> </div>
</div>


</div>

<h4>Neet Pg 2023 Getway to Enter in Md Ms course</h4>
<p>NEET-PG 2023 shall be the single eligibility cum entrance examination for admission to MD/MS/PG Diploma Courses for the academic session 2023-24 which will include the following:
</p>
<ul class="list-item-point-thumb-right">
<li>All India 50% quota seats for all States/Union territories of India.</li>
<li>State quota seats for all States/Union territories of India.</li>
<li>All Private Medical Colleges, Institutions & Universities/Deemed Universities all across the country</li>
<li>Armed Forces Medical Services Institutions.</li>
<li>Post MBBS DNB Courses, Direct 6 years DrNB Courses and Post</li>
<li>MBBS NBEMS Diploma Courses</li>


</ul>


<p>The following Medical institutions are not covered by centralized admissions for MD/MS seats through NEET- PG for 2023-24 session: </p>
<ul class="list-item-point-thumb-right">

<li>AIIMS, New Delhi and other AIIMS</li>
<li>PGIMER, Chandigarh</li>
<li>JIPMER, Puducherry</li>
<li>NIMHANS, Bengaluru</li>
<li>Sree Chitra Tirunal Institute for Medical Sciences and Technology, Trivandrum</li>
<li>Note:- To get Admission in Above written institutes there is a seprate exam Called INICET.</li>
</ul>



<p>No State Government/Private Medical college/Universities shall be conducting any separate entrance for admission to their MD/MS/PG Diploma Courses for the admission session 2023-24.
Brief Discription About Neet Pg 2023 to get admision in md ms course in india .</p>
<p>NEET PG Single window entrance examination for admission to MD/MS/PG Diploma and Post MBBS DNB Courses, Direct 6 Year DrNB Courses & NBEMS Diploma Courses It conduct once in year for year 2023 it suppose to be held on 5th March And result will decler on 31st march.</p>
<p>NEET-PG 2023 will be conducted by NBEMS. Candidates may note that the role of NBEMS is limited to the conduct of NEET-PG, declaration of the result and handing over the result to the designated counseling authority. NBEMS has no role in counseling and allotment of PG seats. Verification of documents and eligibility determination of the candidates shall be undertaken at the time of counseling/admission process by concerned authority. As per NBEMS website.</p>


<h2 class="title">NEET PG 2023 Quick Overview</h2>
<table class="table table-primary table-striped responsive">
<thead>
<td>EXAM NAME</td> 	<td>NEET PG</td>
</thead>
<tbody>
<tr>
<td>OFFICIAL WEBSITE</td>
<td>https://natboard.edu.in</td>
</tr>

<tr>
<td>EXAM FREQUENCY</td>
<td>ONCE IN A YEAR</td>
</tr>
<tr>
<td>FOR COURSES	</td><td>MD/MS/PG DIPLOMA</td></tr>
<tr>
<td>MODE OF EXAM	</td><td>ONLINE</td></tr>
<tr>
<td>TOTEL QUESTION 	</td><td>200</td></tr>
<tr>
<td>TYPE OF QUESTION </td><td>	MCQ</td></tr>
<tr>
<td>TOTAL MARKS 	</td><td>800</td></tr>
<tr>
<td>MARKS PER QUESTION	</td><td>4</td></tr>
<tr>
<td>NIGATIVE MARKING	</td><td>YES</td></tr>
<tr>
<td>CORRECT RESPONCE MARK</td><td>	4</td></tr>
<tr>
<td>INCORRECT RESPONCE MARK	</td><td>1</td></tr>
<tr>
<td>NUMBER OF CENTERS 	</td><td>271</td></tr>
<tr>
<td>EXAM FEE FOR GENRAL /OBC	</td><td>4250</td></tr>
<tr>
<td>EXAM FEE FOR SC/ ST/ OBC 	</td><td>3250</td></tr>
<tr>
<td>DATE OF EXAM	</td><td>05-Mar-23</td></tr>
<tr>
<td>ADMIT CARD ISSUE FROM	</td><td>27TH FEB 2023</td></tr>
<tr>
<td>RESULTE DATE 	</td><td>31ST MARCH 2023</td></tr>

</tbody>
</table>


<h2 class="title">Steps to follow for MD /MS Admission in India 2023</h2>

<div class="row admission-steps-list">

<div class="col admission-steps">Apply For Neet PG</div>
<div class="col admission-steps">Write Exam</div>
<div class="col admission-steps">Result</div>
<div class="col admission-steps">Counselling</div>
<div class="col admission-steps">Admission</div>

</div>


<h2 class="title">Management Quota /NRI Quota seats to study md ms in in india in 2023</h2>

<p>Management quota selection is a very important process for any medical college that wishes to accept students in the management quota. The management quota is the highest number of seats that a particular medical college can reserve for its students. Therefore, it is important for every medical college to make sure that it has enough students from which to choose when filling up their management quota.there are 15% seats are reserved for NRI/Management quota . States like maharastra /karnataka /rajasthan /madhaya pradesh having lots of seat in nri /management quota .</p>

<p>The process of selecting students in the management quota is different from that of normal admissions because the admission committee will be deciding which candidates are worthy of being admitted into the top medical colleges throughout India. This means that the committee will have a lot more information available to them than they would if they were only accepting applications from students who had applied earlier on in the application cycle. This makes it easier for them to make an informed decision regarding each candidate's chances of success at these colleges as well as their overall potential as a human being outside of medical college  as well.</p>
<p>As fee Of Management Quota /NRI quota is 5x ,3x respectivaly there will be negotiations on fees here Bano Doctor will help you to get Best package of your MD/MS Course.</p>

<h2 class="title">MD MS Counselling Overview 2023</h2>

<div>
<h5>All india Counselling (Being Conduct by MCC)</h5>

   <p>As per NMC circular MCC will conduct counselling for the following Institutions/Universities:-</p>

<ul class="list-item-point-thumb-right">


<li>50% All India Quota seats of all states including Union Territory of Jammu & Kashmir,  this year onward<li> (UT of J&K will also contribute their 50% broad speciality Medical/ Dental seats for the All India Quota counselling conducted by MCC of DGHS).</li>
<li>100% seats (All India Quota seats + Institutional Quota seats) of Central Universities (Aligarh Muslim University/ Banaras Hindu University/ University of Delhi/ Central Institutes as per eligibility conditions mentioned in Important Questions related to Scheme of Counselling duly uploaded on MCC website.</li>
<li>100% seats of Deemed Universities.</li>
<li> 50% AIQ P.G seats of colleges under Employee State Insurance Corporation (wards of ESIC insured persons).</li>
<li>All P.G seats of Armed Forces Medical Services Institutions(only Registration part).</li>
<li>Central Institutes, VMMC & Safdarjung Hospital, ABVIMS & RML Hospital and ESIC Institute, PGIMSR, Basaidarapur(50% All India Quota seats and 50% seats of I.P University). </li>

</ul>

</div>

<div>
<h5>State counselling Board :(State Quota Counselling )</h5>

<p>Remaining Seat After All India Quota Will Filled By State Counselling Comitee. Every State Has His own counselling Board Like In Up -UPDME,MP-MPDME,Karnataka-KEA,Rajasthan-RUHS,Maharastra-CET ,Bihar-PgMAC .
</p>
<p>
In state counselling Some States Are Open For All india Domicile while Some Are close for State Domicile Only .
</p>

</div>

<div>

<h2 class="title">Documents Required For Md MS Admission in 2023 </h2>

<ul class="list-item-point-thumb-right">

<li>Admit card issued by NBE</li>
<li>Results score card issued by NBE</li>
<li>Marksheet of MBBS 1st, 2nd, and 3rd-year examination</li>
<li>MBBS Degree certificate/Provisional Degree certificate</li>
<li>Internship Completion Certificate issued by the college.</li>
<li>A provisional Registration certificate issued by MCI</li>
<li>Higher education Class 10th, 10+2 certificate</li>
<li>ID Proof such as PAN or Aadhar card </li>

<li>Note: All documents must be original to complete the admission process. </li>

</ul>

</div>

<div>

<h2 class="title">ELIGIBILITY CRITERIA FOR FOREIGN NATIONALS TO GET ADMISSION IN MD MS COURSE IN INDIA </h2>

<ul class="list-item-point-thumb-right">
<li>Their basic Medical Qualification  equivalent to MBBS should be recognized by the National Medical Commission.</li>
<li>Foreign Nationals desirous of appearing in NEET-PG  and those, who are required to have security clearance as per the Ministry of Home Affairs (MHA) requirements, shall obtain the security clearance from Ministry of Home Affairs, Govt. of India before applying for NEET-PG examination. The security clearance shall be required to be submitted while applying for NEET-PG examination.</li>
<li>They must clear FMGE(foreign Medical Graduate Exam)</li>
</ul>

</div>


<div>

<h2 class="color-blue">FAQ</h2>

<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      1-How Many Seats Are Availabe to study MD/MS In india ?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> There Are  9953 MD 10,821 MS 1979 PG Diploma 1338 DNB CET seats Availabe for Pg Medical Admission .
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       2-Is service bond Required To Study MD/MS in INDIA?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> Yes,every States Have different Caratias for Rural Service Bond and Seat leavaing Bond.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
   3-Can we take Loan to study MD Ms In india ?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> Yes!if Your Finantials Are Good You Can Avail Education Loan .
      </div>
    </div>
  </div>


   <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
   4-Career Option After MD /MS Course ?
      </button>
    </h2>
    <div id="headingFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> Either you Can setup Your Own Clinic or You Can serve in Govt./pvt. Hospitals
      </div>
    </div>
  </div>


     <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
   5-how much salary a MD/MS doctor can get?
      </button>
    </h2>
    <div id="headingFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Ans-</strong> Its depend on knowledge and Study A post gradauate doctor can earn 1lakh to 10lakh in a month.
      </div>
    </div>
  </div>




</div>

</div>


</div>

<div class="col-md-4">

<div class="contact-us shadow-lg p-3 mb-3 bg-body  rounded">
<h4 class="color-blue">Send Your Information</h4>
<hr>
<div class="form-group">

<input type="text" class="form-control" placeholder="Enter Your name here">

</div>

<div class="form-group">

<input type="text" class="form-control" placeholder="Enter Your Mobile ">

</div>

<div class="form-group">

<input type="email" class="form-control" placeholder="Enter Your Email Id">

</div>


<div class="form-group">

<select class="form-control" >
<option>Select Course You are iterested</option>
<option>MBBS</option>
<option>MDMS</option>
</select>

</div>

<div class="form-group">

<textarea class="form-control" rows="5" placeholder="Write Your Message"></textarea>

</div>



<button class="btn btn-primary m-3">Submit</button>

</div>


<div class="latest-post shadow-lg p-3 mb-3 bg-body rounded ">


<h4 class="color-blue">Latest Post </h4>
<ul class="latest-post">
<li>
<a href="" class="">
<div class="post mb-2" style="display:flex;">
<div class="image-box">
<img src="assets/blog/blog-post.jpg" class="img-fluid rounded post-image-style" >

</div>
<div class="content-box p-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>

</div>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>

<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


<li>
<a href="" class="">
<div class="post mb-2">
<h4 class="color-green latest-post-title">Latest Post Title is here</h4>
</div>
</a>
</li>


</ul>

<a href="blog.html" class="btn btn-primary m-3"> View All</a>
</div>









</div>

</div>

</div>


</div>

</div>
</div>



