  <!-- Slider Section -->
<div class="slider-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-content">
                    <h1 class="color-blue p-2">Your True Medical Admission Partner</h1>
                    <h3 class="color-blue banner-title animate-charcter">
                        Bano Doctor
                    </h3>
                    <p class="banner-paragraph ">We provide a professional platform for students seeking career assistance, guidance and support. </p>

                    <div class="action-section">
                        <a class="btn custom-btn glow-on-hover">Get Free Counselling</a>



                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/image/bdfinal.png" class="img-fluid">
            </div>


        </div>


    </div>
</div>

<!-- end of slider section -->
<!-- Introduction Section-->
<div class="section services-section pt-5 pb-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 p-2">

                <h2 class="color-blue text-center">Our Services</h2>
                <p class="text-center">We provide services globally to take admission for UG,PG &amp; PG Diploma Medical Courses</p>
            </div>


            <div class="col-md-3">
                <div class="service-box text-center p-4">
                    <div class="image-box">
                        <img src="assets/icon/pg-counselling.png">
                        <h5 class="color-blue title"> Neet PG Counselling</h5>
                    </div>


                </div>

            </div>


            <div class="col-md-3">
                <div class="service-box text-center p-4">
                    <div class="image-box ">

                        <img src="assets/icon/ug-counselling.png">

                        <h5 class="color-blue title">Neet UG Counselling</h5>
                    </div>


                </div>

            </div>


            <div class="col-md-3">
                <div class="service-box   text-center p-4">
                    <div class="image-box">
                        <img src="assets/icon/study-abroad.png">
                        <h5 class="color-blue title"> Abroad Medical Studies</h5>
                    </div>


                </div>

            </div>

            <div class="col-md-3">
                <div class="service-box text-center p-3">
                    <div class="image-box">
                        <img src="assets/icon/bams-bums.png">
                        <h5 class="color-blue title"> BAMS, BUMS, BHMS, BVSC Medical Courses Counselling</h5>
                    </div>


                </div>

            </div>


            <div class="col-md-3">
                <div class="service-box text-center p-4">
                    <div class="image-box">
                        <img src="assets/icon/pre-departure.gif">
                        <h5 class="color-blue title"> Pre Departure &amp; Post Departure Assistance</h5>
                    </div>


                </div>

            </div>

            <div class="col-md-3">
                <div class="service-box text-center p-4">
                    <div class="image-box">
                        <img src="assets/icon/education-loan.png">
                        <h5 class="color-blue title"> Education Loan Assistance</h5>
                    </div>
                </div>

            </div>


            <div class="col-md-3">
                <div class="service-box text-center p-4">
                    <div class="image-box">
                        <img src="assets/icon/Scholarship.png">
                        <h5 class="color-blue title"> Scholarship Assistance</h5>
                    </div>
                </div>

            </div>

            <div class="col-md-3">
                <div class="service-box text-center p-4">
                    <div class="image-box">
                        <img src="assets/icon/nri.jpg">
                        <h5 class="color-blue title"> NRI/MGMT Quota Assistance</h5>
                    </div>
                </div>

            </div>

        </div>




    </div>


</div>

<div class="section about-us-section">

    <div class="container">


        <div class="row">

            <div class="col-md-7">
                <h2 class="color-blue text center">Who We are ?</h2>
                <h5 class="title">Bano Doctor Education Consultancy</h5>
                <h5 class="color-green">(No. 1 Consultancy &amp; New Brand of old trust)</h5>
                <p class="">In your service since more than 10 years.</p>
                <p>
                    We are pioneer Counsultancy for medical admission since 10 Years ago. Course we deals in MD/MS Admission/ mbbs,bvsc Admission/BAMS Admission/BHMS Admission/BND Admission/CPS/FCPS Admission/MRCP/MRCS &amp; many more medical courses.
                </p>

                <a href="about.html" class="btn custom-btn mt-2">Read more</a>

                <p>
                </p>

            </div>

            <div class="col-md-5">
                <div class="video-section pt-5">
                    <iframe width="100%" height="300"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section services-section pt-5 pb-5">

    <h2 class="color-blue text-center">How It Works?</h2>

    <p class="text-center">Inbond Outbond calls are available </p>


    <div class="container">


        <div class="row">

            <div class="col-md-12">
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/call.gif" class="img-fluid" style="width:128px;">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Calls</span>

                            </li>

                            <li class="border-bottom color-blue">Inboud</li>
                            <li class="color-red">Outbound</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/explain.png" class="img-fluid">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Explain</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">Service</li>
                            <li class="color-red">Intrest</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/meet.png">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Meet</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">Online</li>
                            <li class="color-red">Offline</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/discuss.png">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Discuss</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">Marks</li>
                            <li class="color-red">Budget</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/suggestion.png">
                    <div class="content-box shadow-lg">

                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Sugguestion</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">A/C to Budget</li>
                            <li class="color-red">A/C to Marks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/deal.gif">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Deal</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">Documents</li>
                            <li class="color-red">Formalities</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="work-flow text-center">
                    <img src="assets/icon/expectation.gif">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Expectation</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">Admission</li>
                            <li class="color-red">Post Assistance</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3">


                <div class="work-flow text-center">
                    <img src="assets/icon/client.gif">

                    <div class="content-box shadow-lg">
                        <ul>
                            <li class="border-bottom color-yellow">
                                <span class="title">Client</span>

                            </li>
                            <li></li>
                            <li class="border-bottom color-blue">Happy</li>
                            <li class="color-red">Loyal</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<!-- Experties Section -->

<div class="section mt-5 mb-5 ">

    <div class="container">
        <h2 class="color-blue text-center">We are expert in </h2>
        <div class="row">
            <div class="col-md-2">
                <div class="course-box shadow-lg text-center p-3 m-3">
                    <img src="assets/course/mdms.jpg" class="img-fluid rounded">

                    <h5 class="title">MDMS Admission</h5>


                </div>

            </div>


            <div class="col-md-2">
                <div class="course-box shadow-lg text-center p-3 m-3">
                    <img src="assets/course/mdms.jpg" class="img-fluid">

                    <h5 class="title">DNB Admission</h5>


                </div>

            </div>


            <div class="col-md-2">
                <div class="course-box shadow-lg text-center p-3 m-3">
                    <img src="assets/course/mdms.jpg" class="img-fluid">

                    <h5 class="title">CPS/FCPS Admission</h5>


                </div>

            </div>


            <div class="col-md-2">
                <div class="course-box shadow-lg text-center p-3 m-3">
                    <img src="assets/course/mdms.jpg" class="img-fluid">

                    <h5 class="title">MBBS Admission</h5>


                </div>

            </div>

            <div class="col-md-2">
                <div class="course-box shadow-lg text-center p-3 m-3">
                    <img src="assets/course/mdms.jpg" class="img-fluid">

                    <h5 class="title">BDS Admission</h5>


                </div>

            </div>


            <div class="col-md-2">
                <div class="course-box shadow-lg text-center p-3 m-3">
                    <img src="assets/course/mdms.jpg" class="img-fluid">

                    <h5 class="title">BAMS Admission</h5>


                </div>

            </div>

        </div>

    </div>

    <!-- End of Experties Section -->
    <!-- Courses Section
    <div class="section pt-5 pb-5">


    <div class="container">

    <h3 class="section-heading color-green">Our Courses</h3>


    <div class="row">
    <div class="col-md-2">

    <div class="course-card-box">
        <div class="course-box-yellow radius-top-corner">
         <img src="assets/icon/course.png" class="course-icon-box">
        </div>
         <div class="course-box-blue radius-bottom-corner">
          <h5 class="color-green">MBBS</h5>
         <a class="btn btn-primary">Read More</a>
    </div>

    </div>

    </div>

    <div class="col-md-2">

    <div class="course-card-box">
        <div class="course-box-blue radius-top-corner">
         <img src="assets/icon/course.png" class="course-icon-box">
        </div>
         <div class="course-box-yellow radius-bottom-corner">
         <h5 class="color-green">MBBS</h5>
         <a class="btn  btn-primary">Read More</a>
    </div>

    </div>

    </div>



    <div class="col-md-2">

    <div class="course-card-box">
        <div class="course-box-yellow radius-top-corner">
         <img src="assets/icon/course.png" class="course-icon-box">
        </div>
         <div class="course-box-blue radius-bottom-corner">
      <h5 class="color-green">MBBS</h5>
         <a class="btn  btn-primary">Read More</a>
    </div>

    </div>

    </div>

    <div class="col-md-2">

    <div class="course-card-box">
        <div class="course-box-blue radius-top-corner">
         <img src="assets/icon/course.png" class="course-icon-box">
        </div>
         <div class="course-box-yellow radius-bottom-corner">
          <h5 class="color-green">MBBS</h5>
         <a class="btn  btn-primary">Read More</a>
    </div>

    </div>





    </div>


    <div class="col-md-2">

    <div class="course-card-box">
        <div class="course-box-yellow radius-top-corner">
         <img src="assets/icon/course.png" class="course-icon-box">
        </div>
         <div class="course-box-blue radius-bottom-corner">
          <h5 class="color-green">MBBS</h5>
         <a class="btn  btn-primary">Read More</a>
    </div>

    </div>

    </div>

    <div class="col-md-2">

    <div class="course-card-box">
        <div class="course-box-blue radius-top-corner">
        <img src="assets/icon/course.png" class="course-icon-box">
        </div>
         <div class="course-box-yellow radius-bottom-corner">
         <h5 class="color-green">MBBS</h5>
         <a class="btn  btn-primary">Read More</a>
    </div>

    </div>

    </div>



    </div>

    </div>
    </div>
    </div>
    end of Courses section -->
    <!-- Start  of states section -->

    <div class="section map-section-domestic mt-5">

        <div class="container-fluid pt-5 pb-5">

            <h2 class="color-blue text-center">Domestic states we serve</h2>

            <p class="text-center">We provide services in all states of india</p>
            <div class="row">



                <div class="col-md-3 states-content">
                    <div class="states-list-map ">

                        <ul>
                            <li class="color-white  p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Maharshtra</a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Karnataka</a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Madhya Pradesh</a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Chhattisgarh </a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Uttarpradesh</a></li>
                            <li class="color-white p-2"> <a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Bihar</a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Rajasthan</a></li>
                            <li class="color-white p-2"> <a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Haryana</a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Jharkhand</a></li>
                            <li class="color-white p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> Maharshtra</a></li>
                            <li class="color-white  p-2"><a href="" class="navigation-link"> <i class="fas fa-arrow-right" aria-hidden="true"></i> West Bengal</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-9 states-list">

                    <div class="states-list-map text-center">

                        <img src="assets/map/india.png" class="img-fluid ">

                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- End of states -->
    <!-- Start  of states section -->

    <div class="section map-section-globe  mb-5">

        <div class="container-fluid">

            <h2 class="color-blue text-center">Internationally we serve in</h2>

            <div class="row">

                <div class="col-md-3 states-content">
                    <div class="states-list-map ">

                        <ul>


                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i>UK</a></li>
                            <li> <a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> USA</a></li>
                            <li> <a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Australia</a></li>
                            <li> <a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Canada</a></li>

                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> New Zealand</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Nepal</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Bangladesh</a></li>

                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Russia</a></li>

                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Belarus</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Czech republic</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Iran</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Kyrgyzstan</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Kazakhstan</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Malaysia</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Philippines</a></li>
                            <li><a href="" class="navigation-link"><i class="fas fa-arrow-right" aria-hidden="true"></i> Uzbekistan</a></li>


                        </ul>
                    </div>
                </div>

                <div class="col-md-9 country-list">

                    <div class="country-list-map text-center">

                        <img src="assets/map/world.png">

                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- End of states -->
    <!-- Latest Blog Section -->
    <div class="section mt-5 mb-5">
        <div class="container">
            <h2 class="color-blue text-center">Latest Blog Post</h2>

            <div class="row">
                <div class="col-md-3">
                    <div class="blog-post shadow-lg rounded">

                        <img src="assets/blog/blog.jpg" class="blog-post-image " alt="...">

                        <div class="blog-post-category m-3 border-bottom">
                            <span class="title">MBBS Admission </span>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> Tuesday</span> <span>Feb, 2023</span></div>

                        </div>

                        <div class="blog-post-content">
                            <h5 class="color-blue">BAMS Admission Process 2023</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="post.html" class="btn btn-primary m-2">Read More </a>

                        </div>

                    </div>
                </div>



                <div class="col-md-3">
                    <div class="blog-post shadow-lg rounded">

                        <img src="assets/blog/blog.jpg" class="blog-post-image " alt="...">

                        <div class="blog-post-category m-3 border-bottom">
                            <span class="title">MBBS Admission </span>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> Tuesday</span> <span>Feb, 2023</span></div>

                        </div>

                        <div class="blog-post-content">
                            <h5 class="color-blue">BAMS Admission Process 2023</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="post.html" class="btn btn-primary m-2">Read More </a>

                        </div>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="blog-post shadow-lg rounded">

                        <img src="assets/blog/blog.jpg" class="blog-post-image " alt="...">

                        <div class="blog-post-category m-3 border-bottom">
                            <span class="title">MBBS Admission </span>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> Tuesday</span> <span>Feb, 2023</span></div>

                        </div>

                        <div class="blog-post-content">
                            <h5 class="color-blue">BAMS Admission Process 2023</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="post.html" class="btn btn-primary m-2">Read More </a>

                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="blog-post shadow-lg rounded">

                        <img src="assets/blog/blog.jpg" class="blog-post-image " alt="...">

                        <div class="blog-post-category m-3 border-bottom">
                            <span class="title">MBBS Admission </span>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i> Tuesday</span> <span>Feb, 2023</span></div>

                        </div>

                        <div class="blog-post-content">
                            <h5 class="color-blue">BAMS Admission Process 2023</h5>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="post.html" class="btn btn-primary m-2">Read More </a>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end of Blog  section -->

    <div class="section mt-5 contact-section">

        <div class="container-fluid  section-overlay">
            <div class="row">
                <div class="col-md-6 contact-form">

                    <h1 class="color-white">Get in touch if have any query</h1>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Your Full Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Your Email ID">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Enter Your Mobile Number">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Select Course You are Interested">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
<textarea class="form-control" rows="5" placeholder="Write Your Message Here"></textarea>
                                </div>


                            </div>

                            <div class="action-btn">

                                <button type="submit" class="btn custom-btn "> Submit </button>
                            </div>
                            </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-6 news-section">
            <ul class="">
                <li>
                </li>
            </ul>
        </div>


    </div>



</div>