@model IEnumerable<BanoDoctor.UI.ViewModel.BlogModel>

<div class="section mt-5 mb-5">
    <div class="container">
        <h2 class="color-blue text-center">Latest Blog Post</h2>

        <div class="row">

            @foreach (var data in Model)
            {
                <div class="col-md-3">
                    <div class="blog-post shadow-lg rounded">

                        <img src="assets/blog/blog.jpg" class="blog-post-image " alt="...">

                        <div class="blog-post-category m-3 border-bottom">
                            <span class="title">@data.Heading </span>
                            <div class="date"><i class="fa-solid fa-calendar-days"></i>  <span>@data.CreatedDate.ToLongDateString()</span></div>

                        </div>

                        <div class="blog-post-content">
                            <h5 class="color-blue">BAMS Admission Process 2023</h5>
                            @Html.Raw(data.BlogDescription.Substring(0,100)) <span>....</span>
                            <a asp-action="Index" asp-controller="Blog" asp-route-id="@data.Id" class="btn btn-primary m-2">Read More </a>

                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>